body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}


section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #145275;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

h1 {
    font-size: 2.5rem !important;
    margin-bottom: -1rem;
}

.flex-container {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

h6 {
    color: white;
    font-size: 1.3rem;
    margin-bottom: -0.2rem;
}

.flex {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
}

.flex:hover {
    transition:  .6s ease-out;
    transform: scale(1.2);
}

.flex a {
    color: #6bb4da;
    text-decoration: none;
}

[class="fa-sharp fa-solid fa-arrow-right"] {
    padding-left: 0.5rem;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #145275;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
    background: rgb(208, 225, 37);
    background: linear-gradient(66deg, rgba(208, 225, 37, 1) 0%, rgba(43, 182, 115, 1) 68%, rgba(37, 170, 225, 1) 100%);
}

button:hover {
    background-color: #145275;
    color: white;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border: none;
    color: #145275;
    transform: scale(1.2);

}